.tarifs-group__item{
    background-color: white;
    padding: 10px 0px 5px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey;
}

.tarifs-group__item-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $grey;
    border-width: 1px 0px;
    padding: 10px 0px;
    text-decoration:none;
    &:hover{
        text-decoration: none;
    }
}

.tarifs-group__item-info-inner{
    flex:0 0 97%;
}

.tarifs-group__item-info-arrow{
    flex: 0 0 3%;
    text-align: center;
}

.tarifs-group__item-speed-outer{
    position: relative;
    height:44px;
}

.tarifs-group__item-speed{
    color:white;
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    text-align: right;
    text-decoration: none;
    left: -16px;
}

.tarifs-group__item-speed--earth{
    background: $earth;
}

.tarifs-group__item-speed--water{
    background: $water;
}

.tarifs-group__item-speed--fire{
    background: $fire;
}

.tarifs-group__item-wrapper--no-border{
    border-width: 0px;
}

.tarifs-group__item-wrapper--no-padding{
    padding: 0px;
}

.tarifs-group__item-link{
    padding: 10px 0px;
    font-weight: bold;
}

.tarifs-group__item-link a{
    color: $blue;
}