.tarifs-group{
    @media(min-width:1023px){
        justify-content: start;
    }
}

.tarifs-group__item{
    flex: 0 0 33%;
    background-color: white;
    padding: 10px 0px 5px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey;
    min-height: 225px;
}

@media(max-width:640px){
    .tarifs-group__item{
        flex: 0 0 100%;
    }
}

@media(min-width:641px) and (max-width:1023px){
    .tarifs-group__item{
        flex: 0 0 49%;
    }
}

@media(min-width:1023px){
    .tarifs-group__item:nth-child(3n+2) {
        margin: 0px 0.3% 10px 0.3%;
    }
}

.tarifs-group__item-info{
    border: 1px solid $grey;
    border-width: 1px 0px;
    padding: 10px 0px;
    text-decoration:none;
    &:hover{
        text-decoration: none;
    }
}

.tarifs-group__item-speed-outer{
    position: relative;
    height:44px;
}

.tarifs-group__item-speed{
    color:white;
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    text-align: right;
    text-decoration: none;
    left: -16px;
}

.tarifs-group__item-speed--earth{
    background: $earth;
}

.tarifs-group__item-speed--water{
    background: $water;
}

.tarifs-group__item-speed--fire{
    background: $fire;
}

.tarifs-group__item-wrapper--no-border{
    border-width: 0px;
}

.tarifs-group__item-wrapper--no-padding{
    padding: 0px;
}

.tarifs-group__item-link{
    padding: 10px 0px;
    font-weight: bold;
}

.tarifs-group__item-link a{
    color: $blue;
}