.tarifs{
    display: none;
}

.tarifs--visible{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
    background: $grey;
}

.tarifs__outer{
    padding: 10px 0px 10px;
}

.tarifs__heading{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.tarifs__heading-backward{
    flex: 0 0 3%;
    text-decoration: none;
}

.tarifs__heading-text{
    flex: 0 0 97%;
    text-align: center;
}

.tarifs__item{
    background: white;
    margin-bottom: 10px;
    padding: 10px 0px 10px 15px;
    display: block;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}